<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SocketIO - Python</title>
</head>
<body>
    <h2>John</h2>
    <ul id="messages"></ul>
    <input type="file" name="" id="myMessage">
    <input type="button" value="send" id="send">
    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!--SocketIO-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js" integrity="sha512-PU5S6BA03fRv1Q5fpwXjg5nlRrgdoguZ74urFInkbABMCENyx5oP3hrDzYMMPh3qdLdknIvrGj3yqZ4JuU7Nag==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        const socket = io();

        socket.on('message', function (msg){
            $('#messages').append('<li>'+msg+'</li>');
        });

        $('#send').on('click', function (e){
            var file = e.originalEvent.target.file[0];
            var reader = new FileReader();
            reader.onload = function(evt){
                socket.send(evt.target.result);
            };
            reader.readAsDataURL(file);
        });
        
    </script>
</body>
</html>